/* PT Root UI Light */
@font-face {
  font-family: 'PT Root UI';
  src: url('/src/shared/assets/fonts/pt-root-ui/pt-root-ui_light.woff2') format('woff2');
  font-weight: 300;
}

/* PT Root UI Regular */
@font-face {
  font-family: 'PT Root UI';
  src: url('/src/shared/assets/fonts/pt-root-ui/pt-root-ui_regular.woff2') format('woff2');
  font-weight: 400;
}

/* PT Root UI Medium */
@font-face {
  font-family: 'PT Root UI';
  src: url('/src/shared/assets/fonts/pt-root-ui/pt-root-ui_medium.woff2') format('woff2');
  font-weight: 500;
}

/* PT Root UI Bold */
@font-face {
  font-family: 'PT Root UI';
  src: url('/src/shared/assets/fonts/pt-root-ui/pt-root-ui_bold.woff2') format('woff2');
  font-weight: 700;
}
